body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

.todoapp {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.todoapp h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.todo-input {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.todo-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    ;
}

.todo-button i {
    font-size: 1.2rem;
    
}

.todo-list {
    margin-top: 20px;
    text-align: left;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.todo-item {
    flex: 1;
    padding-left: 10px;
}

.complete-btn,
.trash-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #555;
    transition: color 0.3s ease;
}

.complete-btn:hover,
.trash-btn:hover {
    color: #007bff;
}

.completed .todo-item {
    text-decoration: line-through;
    color: #888;
}
